<!DOCTYPE html>
<html class="h-full bg-slate-50 dark:bg-slate-900">
  <head>
    <title>Rails Base</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full text-slate-900 dark:text-slate-50">
    <%= render "layouts/nav" %>
    <main class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <%= yield %>
    </main>

    <%= debugbar_javascript %>
  </body>
</html>
